html {
	font-family: "canada-type-gibson", sans-serif;
	color: white;
	background-color: #27DCD4;
	max-width: 100vw;
	overflow-x: hidden;
	text-align: center;
  margin: none;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
}

body {
	text-align: center;
  padding: 0px;
  margin: 0px;
  left: 0;
  width: 100vw;
  overflow-x: hidden;
/*  overflow-y: hidden;*/
  background-color: white;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

#container {
  background-color: rgb(39, 220, 212);
  margin-top: -15px;
}

.topbar{
  position: ;
  left: 0;
  top: 0;
  width: 100vw;
  background-color: #0079CF;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 4px;
}

.toptitle{
  margin-left: -10px;
}

.homebox {
  margin-top: 30%;
  display: inline-block;
  text-align: center;
  width: 40%;
  max-height: 30vh;
  background-color: white;
  vertical-align: bottom;
}

iframe {
  position: relative;
  width: 100%;
  height: 100%;
}

.try {
  float: left;
  margin-left: 5%;
}

.video {
  float: right;
  margin-right: 5%;
}

.text {
  background-color: white;
  text-align: left;
  color: black;
  font-size: 1.3em;
  font-family: "canada-type-gibson";
  font-weight: 100;
  border-radius: 5px;
  padding: 10px;
  border: 0px solid;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 16px;
  position: relative;
  width: 60%;
  max-width: 748px;
  box-shadow: 0px 1px #BEF5F2;
}

.text:hover {
    outline: none;
    box-shadow: inset 0px -2px #27DCD4;
    transition: .3s;
}

.text:focus {
    outline: none;
    box-shadow: inset 0px -2px #27DCD4;
    transition: .3s;
/*    transform: translateY(1px);*/
}

.messages {
  margin-top: 130px;
  padding-top: 10px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 100%;
  max-width: 788px;
  margin-bottom: 150px;
  padding-bottom: 50px;
  overflow-y: scroll;
}

ul {
  padding: 0;
}

ul li {
  color: black;
  width: fit-content;
  border-radius: 5px;
  padding: 6px 12px 6px 12px;
  margin-top: 16px;
  font-weight: 200;
  font-size: 1.5em;
  letter-spacing: .01em;
  display: block;
  max-width: 60%;
  text-align: left;
  position: relative;
  background: #BEF5F2;
}

h1 {
	font-size: 3.5em;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 10px;
  margin-bottom: 16px;
  line-height: .85em;
}

h2 {
	color: #27DCD4;
  font-weight: 600;
  margin: 0;
}

.text-entry {
  background-color: #0079CF;
  width: 70%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 60px);
  max-width: 788px;
  height: 190px;
}


button {
  font-size: 1.7em;
  font-family: "Proxima Nova";
  font-weight: 800;
  border: 0px solid;
  border-radius: 5px;
  background-color: white;
  width: 40px;
  height: 40px;
  margin: 4px 6px 6px 6px;
  text-align: left;
  box-shadow: 0px 1px #BEF5F2;
  transition: .5s;
  overflow: hidden;
}

button:focus {
    outline: none;
}

button:hover {
/*  background-color: #0079CF;
  color: white;*/
  transform: translateY(-1px);
  transition: .3s;
  box-shadow: 0 2px #27DCD4;
}

button:active {
  box-shadow: 0 2px #27DCD4;
  transform: translateY(2px);
/*
  width: 50px;
  height: 50px;*/
  transition: .1s;
}


.button-row {
  margin-bottom: 5px;
}

.bubble {
  color: black;
  width: fit-content;
  border-radius: 5px;
  padding: 6px 12px 6px 12px;
  margin-top: 16px;
  font-weight: 200;
  font-size: 1.5em;
  letter-spacing: .01em;
  display: block;
  max-width: 60%;
  text-align: left;
  position: relative;
}


.right {
  background: #BEF5F2;
  margin-right: 20px; 
  margin-left: auto;
}

.left {
  background: #B3D7F1;
  margin-left: 20px;
  margin-right: auto;

}



//

#login-buttons {
  display: block;
}


form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

/*.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}*/

.new-task input:focus{
  outline: 0;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

// from js fiddle
input {
    margin-top: 5px;
    width: 400px;
}



/*popup*/

.steps {
  text-align: left;
  padding-left: 10px;
}

#instructions {
  text-align: center;
  margin: auto;
  width: 500px;
  position: relative;
  display: none;  
  background-color: none;
  z-index: 5;
  height: 150px;
}

 .steps {
   list-style: none;
 }
 .steps li {
   counter-increment: item;
   margin-bottom: 5px;
 }

 .steps li:before {
    margin-right: 10px;
    margin-top: 10px;
    content: counter(item);
    background: white;
    border-radius: 40px;
    color: #0079CF;
    width: 2.3em;
    line-height: 2.3em;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    box-shadow: 0px 2px rgba(0,0,0,.5);
 }

.stepbubble {
  display: inline-block;
  background-color: #0079CF;
  color: white;
  border-radius: 5px;
  border: 1px solid #27DCD4;
  padding: 8px 10px 8px 10px;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 18px;
}


.circle {
  display: inline-block;
  position: absolute;
  background: none;
  border: 1px solid #27DCD4;
  border-radius: 30px;
  color: white;
  width: 36px;
  line-height: 1.5em;
  height: 36px;
  text-align: center;
  display: inline-block;
  font-weight: 200;
  font-size: 1.5em;
}

.circle:hover{
  background: #27DCD4;
  cursor: pointer;
}

.info {
  float: right;
  margin-right: 20px;
  top: 13px;
  right: 0px;
}

.feedback {
  float: left;
  margin-left: 20px;
  top: 13px;
  left: 0px;
}

.feedback img {
  max-width: 18px;
}



/*animation*/

.punctumotion {
  display: inline-block;
  width: .4em;
  font-size: 1.1em;
  line-height: 1em;
}

.updown {
  animation: up-down 1s infinite;
  margin-left: 1px;
}

.nervous {
  animation: pacing linear 1s infinite;
  transform-origin: 50% 50%;
  margin-right: .5em;
}

.angry{
  animation: pacing linear .2s infinite;
  transform-origin: 50% 50%;
  margin-right: .5em;

}

.hyper {
  animation: hyper linear 1s infinite;
  transform-origin: 50% 50%;
  margin-right: .5em;
}

.confused {
  animation: confused linear 2.5s infinite;
  transform-origin: 50% 50%;
  margin-right: .5em;

}

.anxious {
  animation: flash linear .9s infinite;
  transform-origin: 50% 50%;
}

.urgent {
  animation: flash linear .33s infinite;
  transform-origin: 50% 50%;
}

.sad {
  animation: droop 2.5s linear infinite;
  transform-origin: 50% 90%;
  margin-right: .3em;

}

.sarcastic {
  animation: roll 1.5s cubic-bezier(0.6, 0.2, 1, 1) infinite;
  transform-origin: 50% 50%;
  /*need to figure out position*/
  margin-right: .5em;
  margin-left: 4px;

}

.ellipsis {
  animation: ellipsis linear 2.2s infinite;
  transform-origin: 50% 50%;
  margin-right: .8em;
}

.bulge {
  animation: bulge linear 1.4s infinite;
  transform-origin: 50% 50%;


}

.drop {
  animation: drop linear 1s infinite;
}

.check {
  animation: check linear 1.2s infinite;
  margin-right: .4em;
}

.woop {
  animation: woop linear 1.3s infinite;
  margin-right: .2em;
  transform-origin: -50% 40%;
}




/*animators*/
@keyframes pacing{
  0% {
    transform:  translate(0,0)  ;
  }

  50% {
    transform:  translate(150%,0)  ;
  }
  
  100% {
    transform:  translate(0,0)  ;
  }
}


@keyframes up-down {
  0% {
    transform:translateY(0);
    animation-timing-function: ease-in;
  }
  
  5% {
    transform:translateY(5%);
  }
  
  25% {
    transform:translateY(-60%);
    animation-timing-function: ease-out;
  }
  
  65% {
    transform:translateY(0);
    animation-timing-function: ease-in;
        
  } 
}

@keyframes hyper {
  /*random??*/

  0% {
    transform:  translate(0,0)  ;
  }

  10% {
    transform:  translate(200%,-30%)  ;
  }
  
  30% {
    transform:  translate(20%,-50%)  ;
  }

  40% {
    opacity: 0;
  }

  45% {
    transform:  translate(200%,30%)  ;
    opacity: 1;
  }

  50% {
    transform:  translate(0,-30%)  ;
    opacity: 1;
  }

  65% {
    transform:  translate(130%,20%)  ;
    opacity: 0;
  }
  
  80% {
    transform:  translate(40%,-50%)  ;
  }

  95% {
    transform: translate(80%,0)  ;
  }


}

@keyframes confused {
/*  0% {
    transform:  translate(0,0)  ;
    opacity: 0;
  }

  10% {
    opacity: 1;
    transform:  translate(0,0)  ;
        animation-timing-function: ease-out;
  }

  20% {
    transform: translate(0, -10%);
  }

  30% {
    transform:  translate(70%,-25%)  ;
  }
  
  45% {
    transform:  translate(150%,-20%)  ;
  }

  60%{
    transform: translate(200%,-40%);
  }

  75%{
    transform: translate(70%,-60%);
    opacity: 1;
  }
  90%{
    transform: translate(20%,-50%);
    opacity: 0;
  }
  100%{
    opacity: 0;    
  }*/

0% {
    transform:  translate(0,0)  ;
    opacity: 0;
  }

 20% {
  transform: translate(20%, -20%);
 } 

 40% {
  opacity: 1;
  transform: rotate(10deg) translate(70%, -35%);
 } 

 75% {
  transform: rotate(-60deg)translate(55%, -50%);
    opacity: 0;
 }

 85% {
  opacity: 0;
 }

 100% {
  opacity: 0;
 }

}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes droop {
  0% { 
    transform:rotate(0deg);
    opacity: 0;
  }
  
  50% { 
    transform:rotate(0deg);
    opacity: 1;
  }
 
  60% { 
    opacity: 1;
  }


  80% { 
    transform:rotate(120deg) translate(-10%, -10%);
    opacity: 0;
    animation-timing-function: ease-in;
  }
  

  100% { 
    opacity: 0;
  }
}



@keyframes roll {

  from {
    transform: rotate(360deg)
               translate(-5px) 
               rotate(-360deg);
  }
  to {
    transform: rotate(0deg)
           translate(-5px)
           rotate(0deg);

  }

}

@keyframes ellipsis {
  0% {
    opacity: 1;
    transform:translateX(0);
  }
  
  24% {
    transform:translateX(0%);
    opacity: 0;
  }

  25% {
    transform:translateX(80%);
    opacity: 0;
  }

  33% { 
    opacity: 1;
  }

  57% { 
    transform:translateX(80%);
    opacity: 0;
  }

  58% { 
    transform:translateX(160%);
    opacity: 0;
  }

  66% { 
    opacity: 1;
  }

  90% { 
    transform:translateX(160%);
    opacity: 0;
  }

  100% { 
    opacity: 0;
    transform:translateX(0);
  }
}



@keyframes bulge {
  0% {
    -webkit-text-stroke: none;
  }

  8% {
    -webkit-text-stroke: .04em black;
  }
  10% {
    -webkit-text-stroke: .09em black;
  }

  15% {
    -webkit-text-stroke: 0px;
  }

  100% {
    opacity: 0;
  }
}

@keyframes drop {
  0% {
    transform:translateY(-60%);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  
  
  25% {
    transform:translateY(5%);
    animation-timing-function: ease-out;

  }
  
  30% {
    transform:translateY(-5%) rotate(2deg);
    opacity: 1;
  } 
  35% {
    transform:translateY(0%) rotate(-2deg);
  } 
  40% {
    transform:rotate(0deg);
  } 

}

@keyframes check {
  0%{
    opacity: 0;
  }

  20% {
    transform:translateY(0%);
    opacity: 1;
  }

  40% {
    transform: translate(20%, 20%);
  }

  60% {
    transform: translate(140%,-30%);
  }

  70% {
    opacity: 0;
  }

  100% {
    transform: translate(130%,-30%);
    opacity: 0;

  }
}

@keyframes woop {
  0% { 
    transform:rotate(0deg);
    opacity: 0;
  }
  
  30% { 
    transform:rotate(0deg);
    opacity: 1;
  }
 
  40% { 
    opacity: 1;
    transform: translateX(10%);
  }


  60% { 
    transform:rotate(-45deg);
    opacity: 1;
  }

  75% {
    opacity: 0;
    transform:translateY(-30%) rotate(-45deg);
/*    transform: translate(37%, -50%);*/
  }
  

  100% { 
    opacity: 0;
  }



}


/*Screen size*/

@media (max-width: 800px) {
    .messages {
      width: 100vw;
      margin-top: 110px;
    }

    .text-entry {
      width: 100vw;
    }

    h1 {
      font-size: 3em;
      padding: 0 20px 0 20px;
      transition: .5s; 
    }

}


@media (max-width: 550px) {
    h1 {
      font-size: 2em;
      padding: 0 20px 0 20px;
      letter-spacing: 3px; 
      margin-top: 8px;
      margin-bottom: 10px;
      transition: .5s;
    }

    h2 {
      font-size: 1em;
      transition: .5s;
    }

    button {
      font-size: 1em;
      width: 30px;
      height: 30px;
    }

    .homebox {
      width: 100%;
      float: none;
      margin-left: 0;
    }

}

