@keyframes pacing{
  0% {
    transform:  translate(0,0)  ;
  }

  50% {
    transform:  translate(250%,0)  ;
  }
  
  100% {
    transform:  translate(0,0)  ;
  }
}


@keyframes up-down {
  0% {
    transform:translateY(0);
    animation-timing-function: ease-in;
  }
  
  5% {
    transform:translateY(5%);
  }
  
  25% {
    transform:translateY(-60%);
    animation-timing-function: ease-out;
  }
  
  65% {
    transform:translateY(0);
    animation-timing-function: ease-in;
        
  } 
}

@keyframes hyper {
  /*random??*/

  0% {
    transform:  translate(0,0)  ;
  }

  10% {
    transform:  translate(200%,-30%)  ;
  }
  
  30% {
    transform:  translate(20%,-50%)  ;
  }

  40% {
    opacity: 0;
  }

  45% {
    transform:  translate(200%,30%)  ;
    opacity: 1;
  }

  50% {
    transform:  translate(0,-30%)  ;
    opacity: 1;
  }

  65% {
    transform:  translate(130%,20%)  ;
    opacity: 0;
  }
  
  80% {
    transform:  translate(40%,-50%)  ;
  }

  95% {
    transform: translate(80%,0)  ;
  }


}

@keyframes confused {
  0% {
    transform:  translate(0,0)  ;
    opacity: 0;
  }

  10% {
    opacity: 1;
    transform:  translate(0,0)  ;
        animation-timing-function: ease-out;
  }

  20% {
    transform: translate(0, -10%);
  }

  30% {
    transform:  translate(70%,-25%)  ;
  }
  
  45% {
    transform:  translate(150%,-20%)  ;
  }

  60%{
    transform: translate(200%,-40%);
  }

  75%{
    transform: translate(70%,-60%);
    opacity: 1;
  }
  90%{
    transform: translate(20%,-50%);
    opacity: 0;
  }
  100%{
    opacity: 0;    
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes droop {
  0% { 
    transform:rotate(0deg);
    opacity: 0;
  }
  
  50% { 
    transform:rotate(0deg);
    opacity: 1;
  }
 
  60% { 
    opacity: 1;
  }


  80% { 
    transform:rotate(90deg);
    opacity: 0;
    animation-timing-function: ease-in;
  }
  

  100% { 
    opacity: 0;
  }
}



@keyframes roll {
  0% {
    transform: rotate(90deg);

  }
  
  100% { 
    transform:rotate(-270deg);
  }
}

@keyframes ellipsis {
  0% {
    opacity: 1;
    transform:translateX(0);
  }
  
  24% {
    transform:translateX(0%);
    opacity: 0;
  }

  25% {
    transform:translateX(150%);
    opacity: 0;
  }

  33% { 
    opacity: 1;
  }

  57% { 
    transform:translateX(150%);
    opacity: 0;
  }

  58% { 
    transform:translateX(300%);
    opacity: 0;
  }

  66% { 
    opacity: 1;
  }

  90% { 
    transform:translateX(300%);
    opacity: 0;
  }

  100% { 
    opacity: 0;
    transform:translateX(0);
  }
}



/*@keyframes bulge {
  0% {
    font-size: 1em;
  }

  50% {
    font-size: 2em;
  }

  100% {
    font-size: 1em;
  }
}*/

